/**
 * @file
 * Styling for HFCC Nursing Website.
 */

.view-faculty .views-row {
  padding-bottom: 1em;
}

@media only screen and (min-width: 480px) {

  .node-landing-page .field-name-field-content-blocks > .field-items > .field-item {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {

  .front #section-billboard {
     margin: 0 auto;
     max-width: 1008px;
     width: 86%;
   }

  .node-landing-page .field-name-field-content-blocks > .field-items > .even {
    display: inline-block;
    vertical-align: top;
    width: 33%;
  }

  #block-bean-about-nursing {
    margin: 0 0 0 1.5em;
  }

  #block-views-news-block-block {
    margin: 0 1.5em 0 0;
  }

  .node-landing-page .field-name-field-content-blocks > .field-items > .odd {
    display: inline-block;
    vertical-align: top;
    width: 66%;
  }
}
